/**
CSS minha landing Page
**/

/**
Imports
**/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #0A1626!important;
}

.nav-link{
    color: #D9BD9C!important;
}

/**
Header
**/ 
header{
    width: 100%;
}

btn-primary{
    color: #0A1626;
    background-color: #D9BD9C;
}


